@model Product

<div class="well">
    @if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="75" height="75"
                 src="@Url.Action("GetImage", "Product",
                new { Model.ProductID })" />
        </div>
    }
    <h3>
        <a asp-route-productId="@Model.ProductID"
           asp-action="Product" style="color:#332D35">
            <strong>@Model.Name</strong>
        </a>
        <span class="pull-right label label-primary">
            @Model.Price.ToString("c")
        </span>
    </h3>
    <form id="@Model.ProductID" asp-action="AddToCart"
          asp-controller="Cart" method="post">
        <input type="hidden" asp-for="ProductID" />
        <input type="hidden" name="returnUrl"
               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="lead">
            @Model.Description
            <button type="submit" class="btn btn-success btn-sm pull-right">
                Add To Cart
            </button>
        </span>
    </form>
    @*@using (Html.BeginForm("AddFavorite", "Favorite", FormMethod.Post))
        {
            <span class="lead">
                <input type="hidden" asp-for="ProductID" />
                <button class="btn btn-sm btn-default navbar-btn" type="submit">
                    <i class="fas fa-heart"></i>
                </button>
            </span>
        }*@
</div>
