@model IEnumerable<User>
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Users List";
}
<a asp-action="Create" class="btn btn-primary btn-sm">Add User</a>
<table class="table">
    <tr>
        <th scope="col">Email</th>
        <th scope="col">Year</th>
        <th scope="col"></th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td scope="row">@user.Email</td>
            <td>@user.Year</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Change Password</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>